/* abeezee-regular - latin */
@font-face {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/abeezee-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('ABeeZee Regular'), local('ABeeZee-Regular'),
         url('../assets/fonts/abeezee-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/abeezee-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/abeezee-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/abeezee-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/abeezee-v13-latin-regular.svg#ABeeZee') format('svg'); /* Legacy iOS */
  }